.top-page-header {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.search-bar-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.review-icon{
  margin-left: 50px;
}


.search-form {
  width: 50vw;
  height: 9vh;
  display: flex;
  margin-top: 50px;
}

.search-form>.input-box {
  height: 5vh;
}

.search-button {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
  border: 1px solid #272727;
  margin-left: 5px;
  height: 5.5vh;
  width: 5vw;
}

.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.header-list{
  background-color:#272727;
  color: #fff; 
  padding: 10px 16px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.choice{
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.choice:hover {
  color: rgb(78, 199, 199);
}

.show-lists{
  margin-left: 82%;
  list-style: none;
  position: absolute;
  margin-top: 1vh;
  z-index: 3;
}

.hidden{
  display: none;
}

.show-lists>li{
 margin-bottom: 25px;
}

.login{
  text-decoration: none;
  background-color: #272727;
  color: lightgray;
  padding: 8px;
  border-radius: 10px;
}
.login:hover {
  background-color: rgb(78, 199, 199);
  color:black;
  transform: translateY(-7px);
}

.sign-up{
  text-decoration: none;
  background-color: #272727;
  color: lightgray;
  padding: 8px;
  border-radius: 10px;
}
.sign-up:hover {
  background-color: rgb(78, 199, 199);
  color:black;
  transform: translateY(-7px);
}

.user-nickname{
  text-decoration: none;
  background-color: #272727;
  color: lightgray;
  padding: 8px;
  border-radius: 10px;
  font-weight: bold;
}
.user-nickname:hover {
  background-color: rgb(78, 199, 199);
  color:black;
  transform: translateY(-7px);
}

.logout{
  text-decoration: none;
  background-color: #272727;
  color: lightgray;
  padding: 8px;
  border-radius: 10px;
}
.logout:hover {
  background-color: rgb(78, 199, 199);
  color:black;
  transform: translateY(-7px);
}