<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("logo.png", class:"review-icon"), "/" %>
    <form class="search-form" action="#">
    <input class='input-box' placeholder='キーワードから探す'>
    <button class="search-button">
          <%= image_tag "find.png", class:"search-icon" %>
        </button>
      </form>
    </div>
    <%# <div class= "nav"> %>
      <%# <ul class= "new"> %>
        <%# <li><%= link_to 'ログイン', "users/sign_in", class: "login"</li> %> 
        <%# <li><%= link_to '新規登録', "users/sign_up", class: "sign-up"</li> %>
      <%# </ul> %>
    <%# </div>  %>
    <div class="global-navi">
        <ul class="header-list">
          <li><a href="/" class="choice">HOME</a></li>
          <li><a href="#" class="choice">New Product</a></li>
          <li><a href="#" class="choice">News</a></li>
          <li><a href="#" class="choice">Maker Links</a></li>
          <li><a href="#" class="choice">Member</a></li>
          <li><a href="#" class="choice">Access</a></li>
          <li><a href="#" class="choice">Contact Us</a></li>
        </ul>
    </div>
  </div>
</header>